*{
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
a{
    text-decoration: none;
    color: #000;
}

li{
    list-style: none;
}
body{
    overflow: scroll;
}
input:focus{
     outline: none !important;
}




