<div id="ly-about">
    <div class="location">
        <p>您当前的位置:{{rh_location}}>
            <span>关于易和</span>>
            <span>新用户注册</span>
        </p>
    </div>
    <div class="ly-about-l">
        <div class="ly-about-l-l">
            <div class="ly-about-l-yihe">
                <i class="iconfont icon-fangzi">
                    <span>易和商城</span>
                </i>
            </div>


            <div class="ly-about-l-yihe">
                <ul>
                    <li>关于易和
                        <i class="iconfont icon-arrow-right"></i>
                    </li>
                    <li class="ly-about-i">新用户注册</li>
                    <li class="ly-about-i1">在线下单</li>
                    <li class="lly">支付方式</li>
                    <li>配送说明</li>
                    <li>运费说明
                        <i class="iconfont icon-arrow-right"></i>
                    </li>
                    <li>配送方式</li>
                    <li>发票说明</li>
                    <li>售后服务
                        <i class="iconfont icon-arrow-right"></i>
                    </li>
                    <li>退换货规则</li>
                    <li>服务保障承诺</li>
                    <li>验货与签收</li>
                    <li>加盟易和
                        <i class="iconfont icon-arrow-right"></i>
                    </li>
                    <li>加盟条款</li>
                    <li>公司简介</li>
                    <li>服务协议</li>
                </ul>
            </div>
        </div>
    </div>



    <div class="ly-about-r">
        <div class="ly-about-r-top">
            <p>新用户注册</p>
            <span>分类:关于易和</span>
            <span>日期:2015年9月21日</span>
        </div>
        <div class="ly-about-one">
            <img src="img/ly-110.png" alt="">
            <img src="img/ly-tuceng84.png" alt="">
            <img src="img/ly-110.png" alt="">
            <img src="img/ly-tuceng84.png" alt="">
            <img src="img/ly-tuceng84.png" alt="">
            <img src="img/ly-110.png" alt="">
        </div>
    </div>


    <div class="ly-zaixianxiadan lyy">
        在线下单
    </div>

    <div class="ly-zhifufangshi lyy">
        支付方式
    </div>
    <div class="ly-peisongshuoming lyy">
        配送说明
    </div>

</div>