<!--尾部开始-->
<div id="wh_foot">
    <!--底部上方div开始-->
    <div id="wh_footTop">
        <div id="wh_footTopContent">
            <img src="img/wh_foot1.png" alt="">
            <span>正品保障</span>

            <img src="img/wh_foot2.png" alt="">
            <span>全程追踪</span>

            <img src="img/wh_foot3.png" alt="">
            <span>客户监督</span>

            <img src="img/wh_foot4.png" alt="">
            <span>售后无忧</span>

            <img src="img/wh_foot5.png" alt="">
            <span>准时送达</span>
        </div>
    </div>
    <!--底部上方div结束-->

    <!--底部中间div开始-->
    <div id="wh_footMiddle">
        <img src="img/whhome_logo.png" alt="" class="fl">
        <p>
            <img src="img/wh_footerCode.jpg" alt="">
            <br>
            <i class="iconfont icon-icon1460188541813"></i>
            <span>官方微信</span>
        </p>
        <p>
            <img src="img/wh_footerCode.jpg" alt="">
            <br>
            <span>
                <i class="iconfont icon-mobile"></i>
                <span>APP下载</span>
            </span>
        </p>

        <div class="fr">
            <ul>
                <li><a href="#/about">关于易和</a></li>
                <li>新用户注册</li>
                <li>在线下单</li>
                <li>支付方式</li>
            </ul>
            <ul>
                <li>配送说明</li>
                <li>运费说明</li>
                <li>配送方式</li>
                <li>发票说明</li>
            </ul>
            <ul>
                <li>售后服务</li>
                <li>退换货规则</li>
                <li>服务保障承诺</li>
                <li>验货与签收</li>
            </ul>
            <ul>
                <li>加盟易和</li>
                <li>加盟条款</li>
                <li>公司简介</li>
                <li>服务协议</li>
            </ul>
        </div>

        <hr>
    </div>
    <!--底部中间div结束-->

    <!--底部下方div开始-->
    <div id="wh_footBottom">
        <p>版权所有 © 2016易和生活港 保留所有权利 | 沪ICP备：12042163</p>
        <p>易和生活 众享品质</p>
    </div>
    <!--底部下方div结束-->
</div>
<!--尾部结束-->