<div id="wh_goodsDetail0">
    <p>您当前的位置:首页><span>{{shop}}</span>><span>男士短衬衫</span> </p>
</div>
<div id="wh_goodsDetail">

    <div id="wh_detailTop">
        <!-- Swiper开始 -->
        <div class="swiper-container gallery-top">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url(img/wh_goodsDetailBig.png)"></div>
                <div class="swiper-slide" style="background-image:url(img/wh_goodsDetailBig.png)"></div>
                <div class="swiper-slide" style="background-image:url(img/wh_goodsDetailBig.png)"></div>
                <div class="swiper-slide" style="background-image:url(img/wh_goodsDetailBig.png)"></div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>
        <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url(img/wh_goodsDetailSmall.png)"></div>
                <div class="swiper-slide" style="background-image:url(img/wh_goodsDetailSmall.png)"></div>
                <div class="swiper-slide" style="background-image:url(img/wh_goodsDetailSmall.png)"></div>
                <div class="swiper-slide" style="background-image:url(img/wh_goodsDetailSmall.png)"></div>
            </div>
        </div>
        <!--Swiper结束-->
    </div>
    <!--上部中间div-->
    <div id="wh_detailTop1">
        <p>男士短衬衫</p>
        <p>
          {{shop}}{{shop}}{{shop}}{{shop}}{{shop}}
        </p>
        <hr>
        <div id="wh_detailShirtSize">
            <span>尺码:</span>
            <button>170</button>
            <button>175</button>
            <button>180</button>
        </div>
        <div id="wh_detailShirtColor">
            <span>颜色:</span>
            <button>红</button>
            <button>绿</button>
            <button>蓝</button>
        </div>

        <div id="wh_detailShirtPrice">
            <p>
                <span class="price">现价:¥<span>{{li_price}}</span></span>
                <span>原价:¥20.00</span>
                <span>已有381人购买了这件商品</span>
            </p>
            <p>
                <span>数量:</span>
                <button>-</button>
                <span class="count">1</span>
                <button>+</button>
                <a href="javascript:void(0)"ng-click="clickJoinCar()">加入购物车</a>
                <a href="javascript:void(0)">立即购买</a>
            </p>
        </div>

        <div id="wh_detailShirtShare">
            <a href="javascript:void (0)">
                <i class="iconfont icon-xing"></i>
                <span>收藏此商品</span>
            </a>
            <span>分享到</span>
            <!--腾讯微博-->
            <a href="http://t.qq.com/">
                <i class="iconfont icon-tengxunweibo"></i>
            </a>
            <!--QQ空间-->
            <a href="https://qzone.qq.com/">
                <i class="iconfont icon-QQkongjian"></i>
            </a>
            <!--人人网-->
            <a href="http://www.renren.com/">
                <i class="iconfont icon-3"></i>
            </a>
            <!--豆瓣-->
            <a href="https://www.douban.com/">
                <i class="iconfont icon-icondoubancaise"></i>
            </a>
            <!--新浪微博-->
            <a href="http://weibo.com/">
                <i class="iconfont icon-xinlangweibo"></i>
            </a>
        </div>
    </div>
    <!--上部右侧div-->
    <div id="wh_detailTop2">
        <a href="###">点击进入商家</a>
        <a href="###">
            <i class="iconfont icon-qq"></i>
            <span>QQ客服1</span>
        </a>
        <a href="###">
            <i class="iconfont icon-qq"></i>
            <span>QQ客服2</span>
        </a>
    </div>
</div>

<!--下方详情评价成交-->
<div id="wh_goodsThreeDiv">
    <div id="wh_goodsNav">
        <a href="javascript:void(0)" index="1">商品详情</a>
        <a href="javascript:void(0)" index="2">商品评价</a>
        <a href="javascript:void(0)" index="3">成交记录</a>
    </div>
    <!--详情-->
    <div id="wh_goodsOne">
        <p>男士短衬衫</p>
        <p>
            十分优秀,适合送亲人哟十分优秀,适合送亲人哟十分优秀,适合送亲人哟十分优秀,适合送亲人哟十分优秀,适合送亲人哟十分优秀,适合送亲人哟十分优秀,适合送亲人哟十分优秀,适合送亲人哟十分优秀,适合送亲人哟十分优秀,适合送亲人哟十分优秀,适合送亲人哟十分优秀,适合送亲人哟十分优秀,适合送亲人哟
        </p>
        <img src="img/wh_detailHmg.png" alt="哈密瓜">
        <p>男士短衬衫</p>
        <p>
            十分优秀,适合送亲人哟十分优秀,适合送亲人哟十分优秀,适合送亲人哟十分优秀,适合送亲人哟十分优秀,适合送亲人哟十分优秀,适合送亲人哟十分优秀,适合送亲人哟十分优秀,适合送亲人哟十分优秀,适合送亲人哟十分优秀,适合送亲人哟十分优秀,适合送亲人哟十分优秀,适合送亲人哟十分优秀,适合送亲人哟
        </p>
        <img src="img/wh_detailHmg.png" alt="哈密瓜">
    </div>
    <!--评价(默认隐藏)-->
    <div id="wh_goodsTwo">
        <ul>
            <li ng-repeat="x in pingjia">
                <div>
                    <img ng-src="{{x.images}}" alt="">

                    <br>
                    <span>{{x.buys}}</span>
                </div>
                <div>
                    <p>
                        <span>{{x.times}}</span>
                        <i class="iconfont icon-xing1"></i>
                        <i class="iconfont icon-xing1"></i>
                        <i class="iconfont icon-xing1"></i>
                        <i class="iconfont icon-xing1"></i>
                        <i class="iconfont icon-xing"></i>
                    </p>
                    <p>{{x.appraise}}</p>

                </div>
            </li>
        </ul>
    </div>
    <!--成交(默认隐藏)-->
    <div id="wh_goodsThree">
        <ul>
            <li>
                <span>买家</span>
                <span>价格</span>
                <span>数量</span>
                <span>付款时间</span>
            </li>
            <li ng-repeat="x in pingjia">
                <span>{{x.buys}}</span>
                <span>¥{{x.price}}</span>
                <span>{{x.number}}</span>
                <span>{{x.times}}</span>
            </li>


        </ul>
    </div>
</div>
<!-- Initialize Swiper -->
<script>
    var galleryTop = new Swiper('#wh_goodsDetail .gallery-top', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        spaceBetween: 10,
    });
    var galleryThumbs = new Swiper('#wh_goodsDetail .gallery-thumbs', {
        spaceBetween: 10,
        centeredSlides: true,
        slidesPerView: 'auto',
        touchRatio: 0.2,
        slideToClickedSlide: true
    });
    galleryTop.params.control = galleryThumbs;
    galleryThumbs.params.control = galleryTop;

</script>

<script>

    var sizeBtns = $("#wh_detailShirtSize button");
    var colorBtns = $("#wh_detailShirtColor button");
    var shopCarBtns = $("#wh_detailShirtPrice>p:nth-of-type(2) button");
    var inputNum = $("#wh_detailShirtPrice>p:nth-of-type(2) span:nth-of-type(2)");

    //尺码点击事件
    for(var i = 0; i < sizeBtns.length; i++){
        $(sizeBtns[i]).click(function(){
            for(var j = 0; j < sizeBtns.length; j++){
                $(sizeBtns[j]).css("border","2px solid rgb(211, 211, 211)");
            }
            $(this).css("border","2px solid rgb(236, 106, 23)")
        });
    }

    //颜色点击事件
    for(var i = 0; i < colorBtns.length; i++){
        $(colorBtns[i]).click(function(){
            for(var j = 0; j < colorBtns.length; j++){
                $(colorBtns[j]).css("border","2px solid rgb(211, 211, 211)");
            }
            $(this).css("border","2px solid rgb(236, 106, 23)")
        });
    }
    //加入购物车的加减按钮
    var shopNum = $(inputNum).text();
    //减少
    $(shopCarBtns[0]).click(function(){
        shopNum--;
        if(shopNum <= 0){
            alert("当前已经是最小件数了哟!");
            $(inputNum).text(1);
        }else{
            $(inputNum).text(shopNum);
        }

    });
    //增加
    $(shopCarBtns[1]).click(function(){
        shopNum++;
        $(inputNum).text(shopNum);
    });



    //下方详情评价成交
    var threeAbq = $("#wh_goodsNav a");
    var threeDiv = $("#wh_goodsThreeDiv>div");

    for(var i = 0;i < threeAbq.length; i++){
        $(threeAbq[i]).click(function(){
            for(var j = 0;j < threeAbq.length; j++){
                $(threeAbq[j]).css("borderBottom", "1px solid rgb(211, 211, 211)");
                $(threeAbq[j]).css("borderTop", "0");
                $(threeAbq[j]).css("backgroundColor", "rgb(248, 248, 248)");
            }
            $(this).css("borderBottom", "0");
            $(this).css("borderTop", "2px solid blue");
            $(this).css("backgroundColor", "white");

            var flag = $(this).attr("index");

            for(var k = 1; k <= threeDiv.length; k++){
                $(threeDiv[k]).css("display", "none");
            }

            $(threeDiv[flag]).css("display", "block");
        });
    }
</script>


