<div id="ly-jingxuan">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="img/ly-lun1.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/ly-lun2.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/ly-lun3.jpg" alt="">
            </div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
    </div>
    <div class="ly-content">
        <div class="fl ly-left">
            <div class="ly-sousuo">
                <span>查看商品分类列表</span>
                <img src="img/ly-tuceng55.png" alt="">
                <img src="img/ly-tuceng106.png" alt="">
            </div>
            <div class="ly-quyu">
                <ul>
                    <li>欧洲进口
                        <i class="iconfont icon-arrow-right"></i>
                    </li>
                    <li>建材装修
                        <i class="iconfont icon-arrow-right"></i>
                    </li>
                    <li>休闲娱乐
                        <i class="iconfont icon-arrow-right"></i>
                    </li>
                    <li>生活服务
                        <i class="iconfont icon-arrow-right"></i>
                    </li>
                    <li>3C市场
                        <i class="iconfont icon-arrow-right"></i>
                    </li>
                    <li>丽人
                        <i class="iconfont icon-arrow-right"></i>
                    </li>
                    <li>本地生活
                        <i class="iconfont icon-arrow-right"></i>
                    </li>
                    <li>购物
                        <i class="iconfont icon-arrow-right"></i>
                    </li>
                    <li>电子数码
                        <i class="iconfont icon-arrow-right"></i>
                    </li>
                    <li>服装市场
                        <i class="iconfont icon-arrow-right"></i>
                    </li>
                    <li>建材装修
                        <i class="iconfont icon-arrow-right"></i>
                    </li>
                    <li>休闲娱乐
                        <i class="iconfont icon-arrow-right"></i>
                    </li>
                    <li>生活服务
                        <i class="iconfont icon-arrow-right"></i>
                    </li>
                </ul>
                <div class="ly-quyu-fenzhi">
                    <div class="ly-quyu-fenzhi-shangjia">
                        <span>手机商家</span>
                        <span>手机商家</span>
                        <span>手机商家</span>
                    </div>
                    <div class="ly-quyu-fenzhi-shangjia">
                        <span>手机商家</span>
                        <span>手机商家</span>
                        <span>手机商家</span>
                        <span>手机商家</span>
                        <div></div>
                    </div>
                    <div class="ly-quyu-fenzhi-shangjia">
                        <span>手机商家</span>
                        <span>手机商家</span>
                        <span>手机商家</span>
                    </div>
                    <div class="ly-quyu-fenzhi-shangjia">
                        <span>手机商家</span>
                        <span>手机商家</span>
                        <span>手机商家</span>
                        <span>手机商家</span>
                        <div></div>
                    </div>
                    <div class="ly-quyu-fenzhi-shangjia">
                        <span>手机商家</span>
                        <span>手机商家</span>
                        <span>手机商家</span>
                    </div>
                    <div class="ly-quyu-fenzhi-shangjia">
                        <span>手机商家</span>
                        <span>手机商家</span>
                        <span>手机商家</span>
                        <span>手机商家</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="ly-content-tupian fr" ng-repeat="x in cars">
            <div class="ly-content-car">
                <img style="width: 222px;height: 122px;" ng-src="{{x.src}}" alt="">
                <span>{{x.des}}</span>
                <div class="ly-content-ziti">
                    <i class="iconfont icon-ren"></i>
                    <span>{{x.name}}</span>
                </div>
                <div class="ly-content-ziti">
                    <i class="iconfont icon-shouji"></i>
                    <span>{{x.phone}}</span>
                </div>
                <div class="ly-content-ziti">
                    <i class="iconfont icon-weizhi"></i>
                    <span>{{x.addr}}</span>
                </div>
            </div>

            <div class="ly-content-car">
                <img style="width: 222px;height: 122px;" ng-src="{{x.src}}" alt="">
                <span>{{x.des}}</span>
                <div class="ly-content-ziti">
                    <i class="iconfont icon-ren"></i>
                    <span>{{x.name}}</span>
                </div>
                <div class="ly-content-ziti">
                    <i class="iconfont icon-shouji"></i>
                    <span>{{x.phone}}</span>
                </div>
                <div class="ly-content-ziti">
                    <i class="iconfont icon-weizhi"></i>
                    <span>{{x.addr}}</span>
                </div>
            </div>

            <div class="ly-content-car">
                <img style="width: 222px;height: 122px;" ng-src="{{x.src}}" alt="">
                <span>{{x.des}}</span>
                <div class="ly-content-ziti">
                    <i class="iconfont icon-ren"></i>
                    <span>{{x.name}}</span>
                </div>
                <div class="ly-content-ziti">
                    <i class="iconfont icon-shouji"></i>
                    <span>{{x.phone}}</span>
                </div>
                <div class="ly-content-ziti">
                    <i class="iconfont icon-weizhi"></i>
                    <span>{{x.addr}}</span>
                </div>
            </div>
            <div class="ly-content-car">
                <img style="width: 222px;height: 122px;" ng-src="{{x.src}}" alt="">
                <span>{{x.des}}</span>
                <div class="ly-content-ziti">
                    <i class="iconfont icon-ren"></i>
                    <span>{{x.name}}</span>
                </div>
                <div class="ly-content-ziti">
                    <i class="iconfont icon-shouji"></i>
                    <span>{{x.name}}</span>
                </div>
                <div class="ly-content-ziti">
                    <i class="iconfont icon-weizhi"></i>
                    <span>{{x.addr}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="ly-bottom">
        <span>首页</span>
        <span>上一页</span>
        <span index="1" class="pages beijingse">1</span>
        <span index="2" class="pages">2</span>
        <span index="3" class="pages">3</span>
        <span index="4" class="pages">4</span>
        <span index="5" class="pages">5</span>
        <span index="6" class="pages">6</span>
        <span>下一页</span>
        <span>共6页</span>
        <span>跳到第
            <input type="text">页</span>
        <input type="button" value="确定">
        <span>共72</span>
    </div>
</div>