<div id="wh_join">
    <div id="wh_joinTop">
        <img src="img/wh_joinGirl.png" alt="">
        <div id="wh_joinTopContent">
            <p>
                <span>客服电话：</span>
                <span>0796-2608522</span>
            </p>
            <p>
                <span>商务洽谈：</span>
                <span>13133695368 18179611121</span>
            </p>
            <p>
                <span>工作时间：</span>
                <span>周一至周六</span>
            </p>
            <p>上午8：00—12：00 下午14：00—17：30</p>
        </div>
    </div>
    <div id="wh_joinBottom">
        <div>
            <img src="img/wh_joinYuan1.png" alt="">
            <div>
                <p>我是用户</p>
                <p>功能建议</p>
                <p>期待您的建议和反馈</p>
                <p>不断完善成长</p>
                <p>
                    <a href="javascript:void(0)">提点建议</a>
                </p>
            </div>
        </div>
        <div>
            <img src="img/wh_joinYuan2.png" alt="">
            <div>
                <p>我是商家</p>
                <p>商户入驻</p>
                <p>期待您的入驻</p>
                <p>共同打造新的平台</p>
                <p>
                    <a href="#/shengqing">申请入驻</a>
                </p>
            </div>
        </div>

    </div>
</div>