<div id="ly-shengqing">
    <div class="location">
        <p>您当前的位置:加入易和>
            <span>申请入驻</span>
        </p>
    </div>
</div>
<div id="ly-content-shengqing">
    <div class="ly-ziliaotijiao">
        <div>
            <img src="img/ly-juxing2.png" alt="">
            <span class="ly-span1">1.提交资料</span>
            <img src="img/ly-juxing1.png" alt="">
            <span>2.等待审核</span>
            <img src="img/ly-juxing3.png" alt="">
            <span>3.入驻易和</span>
        </div>
    </div>
    <div class="ly-content-jieshao">
        <span>填写基本信息(带*为必填,请如实填写)</span>
    </div>
    <div class="ly-content-dizhi">
        <span>*商家地址:
            <input type="text">
        </span>
    </div>
    <div class="ly-content-name">
        <span>*商户名称:
            <input type="text">
        </span>
    </div>

    <div class="ly-content-leixing">
        <span>*商户类型:
            <input type="radio" name="1"> 企业商户</span>
        <input type="radio" name="1">
        <span>个人商户</span>
    </div>
    <div class="ly-content-link">
        <span>*联系人:
            <input type="text">
        </span>
    </div>
    <div class="ly-content-phone">
        <span>*联系电话:
            <input type="text">
        </span>
    </div>
    <div class="ly-content-beizhu">
        <span>*备注:
            <input type="text">
        </span>
    </div>
    <div class="ly-content-massage">
        <span>*图片信息:</span>
        <span> 1.商家门脸照</span>
    </div>
    <div class="ly-content-allimg">
        <div class="ly-content-addimg">
            <img src="img/ly-1copy.png" alt="" style="width: 150px;height: 150px;margin-left: 0px;margin-top: 0px" id="wh_face">
            <input type="file" id="wh_faceUpload" style="position: relative;width: 150px;height: 150px;background-color: #c0a16b; top: -155px;opacity: 0">
            <span style="position: relative;top: -210px;">点击上传环境照</span>
        </div>
        <div class="ly-content-addimg">
            <img src="img/ly-1copy.png" alt="" style="width: 150px;height: 150px;margin-left: 0px;margin-top: 0px" id="wh_face1">
            <input type="file" id="wh_faceUpload1" style="position: relative;width: 150px;height: 150px;background-color: #c0a16b; top: -155px;opacity: 0">
            <span style="position: relative;top: -210px;">点击上传环境照</span>
        </div>
        <div class="ly-content-addimg">
            <img src="img/ly-1copy.png" alt="" style="width: 150px;height: 150px;margin-left: 0px;margin-top: 0px" id="wh_face2">
            <input type="file" id="wh_faceUpload2" style="position: relative;width: 150px;height: 150px;background-color: #c0a16b; top: -155px;opacity: 0">
            <span style="position: relative;top: -210px;">点击上传环境照</span>
        </div>
    </div>

    <div class="ly-content-massage">
        <span class="ly-huanjing"> 2.商家环境照</span>
    </div>
    <div class="ly-content-allimg">
        <div class="ly-content-addimg">
            <img src="img/ly-1copy.png" alt="" style="width: 150px;height: 150px;margin-left: 0px;margin-top: 0px" id="wh_face3">
            <input type="file" id="wh_faceUpload3" style="position: relative;width: 150px;height: 150px;background-color: #c0a16b; top: -155px;opacity: 0">
            <span style="position: relative;top: -210px;">点击上传环境照</span>
        </div>
        <div class="ly-content-addimg">
            <img src="img/ly-1copy.png" alt="" style="width: 150px;height: 150px;margin-left: 0px;margin-top: 0px" id="wh_face4">
            <input type="file" id="wh_faceUpload4" style="position: relative;width: 150px;height: 150px;background-color: #c0a16b; top: -155px;opacity: 0">
            <span style="position: relative;top: -210px;">点击上传环境照</span>
        </div>
        <div class="ly-content-addimg">
            <img src="img/ly-1copy.png" alt="" style="width: 150px;height: 150px;margin-left: 0px;margin-top: 0px" id="wh_face5">
            <input type="file" id="wh_faceUpload5" style="position: relative;width: 150px;height: 150px;background-color: #c0a16b; top: -155px;opacity: 0">
            <span style="position: relative;top: -210px;">点击上传环境照</span>
        </div>
    </div>
    <div class="ly-content-massage">
        <span class="ly-huanjing"> 3.资质环境照</span>
    </div>
    <div class="ly-content-allimg">
        <div class="ly-content-addimg">
            <img src="img/ly-1copy.png" alt="" style="width: 150px;height: 150px;margin-left: 0px;margin-top: 0px" id="wh_face6">
            <input type="file" id="wh_faceUpload6" style="position: relative;width: 150px;height: 150px;background-color: #c0a16b; top: -155px;opacity: 0">
            <span style="position: relative;top: -210px;">点击上传环境照</span>
        </div>
        <div class="ly-content-addimg">
            <img src="img/ly-1copy.png" alt="" style="width: 150px;height: 150px;margin-left: 0px;margin-top: 0px" id="wh_face7">
            <input type="file" id="wh_faceUpload7" style="position: relative;width: 150px;height: 150px;background-color: #c0a16b; top: -155px;opacity: 0">
            <span style="position: relative;top: -210px;">点击上传环境照</span>
        </div>
        <div class="ly-content-addimg">
            <img src="img/ly-1copy.png" alt="" style="width: 150px;height: 150px;margin-left: 0px;margin-top: 0px" id="wh_face8">
            <input type="file" id="wh_faceUpload8" style="position: relative;width: 150px;height: 150px;background-color: #c0a16b; top: -155px;opacity: 0">
            <span style="position: relative;top: -210px;">点击上传环境照</span>
        </div>
    </div>
    <div class="ly-content-tijiao">
        <input type="button" value="提交申请">
    </div>
</div>
<script type="text/javascript">
    $(function () {
        function getObjectURL(file) {
            var url = null;
            if (window.createObjectURL != undefined) { // basic
                url = window.createObjectURL(file);
            } else if (window.URL != undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file);
            } else if (window.webkitURL != undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file);
            }
            return url;
        }
        $("#wh_faceUpload").change(function () {
            var objUrl = getObjectURL(this.files[0]);
            var size = this.files[0].size;
            if (size >= 1024000 * 10) {
                bottomTip("图片超过10M了哦", 0);
            }
            else {
                if (objUrl) {
                    $("#wh_face").attr("src", objUrl);
                }
            }
        });
    })
</script>
<script type="text/javascript">
    $(function () {
        function getObjectURL(file) {
            var url = null;
            if (window.createObjectURL != undefined) { // basic
                url = window.createObjectURL(file);
            } else if (window.URL != undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file);
            } else if (window.webkitURL != undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file);
            }
            return url;
        }
        $("#wh_faceUpload1").change(function () {
            var objUrl = getObjectURL(this.files[0]);
            var size = this.files[0].size;
            if (size >= 1024000 * 10) {
                bottomTip("图片超过10M了哦", 0);
            }
            else {
                if (objUrl) {
                    $("#wh_face1").attr("src", objUrl);
                }
            }
        });
    })
</script>
<script type="text/javascript">
    $(function () {
        function getObjectURL(file) {
            var url = null;
            if (window.createObjectURL != undefined) { // basic
                url = window.createObjectURL(file);
            } else if (window.URL != undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file);
            } else if (window.webkitURL != undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file);
            }
            return url;
        }
        $("#wh_faceUpload2").change(function () {
            var objUrl = getObjectURL(this.files[0]);
            var size = this.files[0].size;
            if (size >= 1024000 * 10) {
                bottomTip("图片超过10M了哦", 0);
            }
            else {
                if (objUrl) {
                    $("#wh_face2").attr("src", objUrl);
                }
            }
        });
    })
</script>
<script type="text/javascript">
    $(function () {
        function getObjectURL(file) {
            var url = null;
            if (window.createObjectURL != undefined) { // basic
                url = window.createObjectURL(file);
            } else if (window.URL != undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file);
            } else if (window.webkitURL != undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file);
            }
            return url;
        }
        $("#wh_faceUpload3").change(function () {
            var objUrl = getObjectURL(this.files[0]);
            var size = this.files[0].size;
            if (size >= 1024000 * 10) {
                bottomTip("图片超过10M了哦", 0);
            }
            else {
                if (objUrl) {
                    $("#wh_face3").attr("src", objUrl);
                }
            }
        });
    })
</script>
<script type="text/javascript">
    $(function () {
        function getObjectURL(file) {
            var url = null;
            if (window.createObjectURL != undefined) { // basic
                url = window.createObjectURL(file);
            } else if (window.URL != undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file);
            } else if (window.webkitURL != undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file);
            }
            return url;
        }
        $("#wh_faceUpload4").change(function () {
            var objUrl = getObjectURL(this.files[0]);
            var size = this.files[0].size;
            if (size >= 1024000 * 10) {
                bottomTip("图片超过10M了哦", 0);
            }
            else {
                if (objUrl) {
                    $("#wh_face4").attr("src", objUrl);
                }
            }
        });
    })
</script>
<script type="text/javascript">
    $(function () {
        function getObjectURL(file) {
            var url = null;
            if (window.createObjectURL != undefined) { // basic
                url = window.createObjectURL(file);
            } else if (window.URL != undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file);
            } else if (window.webkitURL != undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file);
            }
            return url;
        }
        $("#wh_faceUpload5").change(function () {
            var objUrl = getObjectURL(this.files[0]);
            var size = this.files[0].size;
            if (size >= 1024000 * 10) {
                bottomTip("图片超过10M了哦", 0);
            }
            else {
                if (objUrl) {
                    $("#wh_face5").attr("src", objUrl);
                }
            }
        });
    })
</script>
<script type="text/javascript">
    $(function () {
        function getObjectURL(file) {
            var url = null;
            if (window.createObjectURL != undefined) { // basic
                url = window.createObjectURL(file);
            } else if (window.URL != undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file);
            } else if (window.webkitURL != undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file);
            }
            return url;
        }
        $("#wh_faceUpload6").change(function () {
            var objUrl = getObjectURL(this.files[0]);
            var size = this.files[0].size;
            if (size >= 1024000 * 10) {
                bottomTip("图片超过10M了哦", 0);
            }
            else {
                if (objUrl) {
                    $("#wh_face6").attr("src", objUrl);
                }
            }
        });
    })
</script>
<script type="text/javascript">
    $(function () {
        function getObjectURL(file) {
            var url = null;
            if (window.createObjectURL != undefined) { // basic
                url = window.createObjectURL(file);
            } else if (window.URL != undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file);
            } else if (window.webkitURL != undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file);
            }
            return url;
        }
        $("#wh_faceUpload7").change(function () {
            var objUrl = getObjectURL(this.files[0]);
            var size = this.files[0].size;
            if (size >= 1024000 * 10) {
                bottomTip("图片超过10M了哦", 0);
            }
            else {
                if (objUrl) {
                    $("#wh_face7").attr("src", objUrl);
                }
            }
        });
    })
</script>
<script type="text/javascript">
    $(function () {
        function getObjectURL(file) {
            var url = null;
            if (window.createObjectURL != undefined) { // basic
                url = window.createObjectURL(file);
            } else if (window.URL != undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file);
            } else if (window.webkitURL != undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file);
            }
            return url;
        }
        $("#wh_faceUpload8").change(function () {
            var objUrl = getObjectURL(this.files[0]);
            var size = this.files[0].size;
            if (size >= 1024000 * 10) {
                bottomTip("图片超过10M了哦", 0);
            }
            else {
                if (objUrl) {
                    $("#wh_face8").attr("src", objUrl);
                }
            }
        });
    })
</script>
<script type="text/javascript">
    $(function () {
        function getObjectURL(file) {
            var url = null;
            if (window.createObjectURL != undefined) { // basic
                url = window.createObjectURL(file);
            } else if (window.URL != undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file);
            } else if (window.webkitURL != undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file);
            }
            return url;
        }
        $("#wh_faceUpload9").change(function () {
            var objUrl = getObjectURL(this.files[0]);
            var size = this.files[0].size;
            if (size >= 1024000 * 10) {
                bottomTip("图片超过10M了哦", 0);
            }
            else {
                if (objUrl) {
                    $("#wh_face9").attr("src", objUrl);
                }
            }
        });
    })
</script>