<div id="ly—tejia">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="img/ly-tejiameiyitian.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/ly-lun2.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/ly-lun3.jpg" alt="">
            </div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
    </div>
    <div class="ly-tejia-content">
        <img src="img/ly-xianliang.png" alt="">
        <div id="ly-fenzulunbo">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="ly-fenzulunbo1">
                            <a href="javascript:void(0)">
                                <img src="img/ly-tuceng95.png" />
                            </a>
                            <p class="ly-desc">自家礼包送亲人，送朋友的不二选择.自家礼包...</p>
                            <p class="ly-info">
                                <span>¥:</span>
                                <span class="ly-jifen">11.8</span>
                                <del class="ly-jiazhi">¥</del>
                                <del class="ly-price">20.0</del>
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="ly-fenzulunbo1">
                            <a href="javascript:void(0)">
                                <img src="img/ly-tuceng96.png" />
                            </a>
                            <p class="ly-desc">自家礼包送亲人，送朋友的不二选择.自家礼包...</p>
                            <p class="ly-info">
                                <span>¥:</span>
                                <span class="ly-jifen">11.8</span>
                                <del class="ly-jiazhi">¥</del>
                                <del class="ly-price">20.0</del>
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="ly-fenzulunbo1">
                            <a href="javascript:void(0)">
                                <img src="img/ly-tuceng97.png" />
                            </a>
                            <p class="ly-desc">自家礼包送亲人，送朋友的不二选择.自家礼包...</p>
                            <p class="ly-info">
                                <span>¥:</span>
                                <span class="ly-jifen">11.8</span>
                                <del class="ly-jiazhi">¥</del>
                                <del class="ly-price">20.0</del>
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="ly-fenzulunbo1">
                            <a href="javascript:void(0)">
                                <img src="img/ly-tuceng92.png" />
                            </a>
                            <p class="ly-desc">自家礼包送亲人，送朋友的不二选择.自家礼包...</p>
                            <p class="ly-info">
                                <span>¥:</span>
                                <span class="ly-jifen">11.8</span>
                                <del class="ly-jiazhi">¥</del>
                                <del class="ly-price">20.0</del>
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="ly-fenzulunbo1">
                            <a href="javascript:void(0)">
                                <img src="img/ly-tuceng95.png" />
                            </a>
                            <p class="ly-desc">自家礼包送亲人，送朋友的不二选择.自家礼包...</p>
                            <p class="ly-info">
                                <span>¥:</span>
                                <span class="ly-jifen">11.8</span>
                                <del class="ly-jiazhi">¥</del>
                                <del class="ly-price">20.0</del>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>

        </div>
        <img class="ly-tejia" src="img/ly-tejia.png" alt="">
        <div class="ly-tejiashangping">
            <ul ng-repeat="x in nanshangyi">
                <li>
                    <a href="javascript:void(0)">
                        <img ng-src="{{x.src}}" />
                    </a>
                    <p class="ly-desc">{{x.des}}</p>
                    <p class="ly-info">
                        <span>¥：</span>
                        <span class="ly-jifen">{{x.price}}</span>
                        <span class="ly-jiazhi">¥</span>
                        <del class="ly-price">20.0</del>
                    </p>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img ng-src="{{x.src}}" />
                    </a>
                    <p class="ly-desc">{{x.des}}</p>
                    <p class="ly-info">
                        <span>¥：</span>
                        <span class="ly-jifen">{{x.price}}</span>
                        <span class="ly-jiazhi">¥</span>
                        <del class="ly-price">20.0</del>
                    </p>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img ng-src="{{x.src}}" />
                    </a>
                    <p class="ly-desc">{{x.des}}</p>
                    <p class="ly-info">
                        <span>¥：</span>
                        <span class="ly-jifen">{{x.price}}</span>
                        <span class="ly-jiazhi">¥</span>
                        <del class="ly-price">20.0</del>
                    </p>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img ng-src="{{x.src}}" />
                    </a>
                    <p class="ly-desc">{{x.des}}</p>
                    <p class="ly-info">
                        <span>¥：</span>
                        <span class="ly-jifen">{{x.price}}</span>
                        <span class="ly-jiazhi">¥</span>
                        <del class="ly-price">20.0</del>
                    </p>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img ng-src="{{x.src}}" />
                    </a>
                    <p class="ly-desc">{{x.des}}</p>
                    <p class="ly-info">
                        <span>¥：</span>
                        <span class="ly-jifen">{{x.price}}</span>
                        <span class="ly-jiazhi">¥</span>
                        <del class="ly-price">20.0</del>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>