<div id="ly-zhengping-content">
    <div class="location">
        <p>您当前的位置:{{rh_location}} > <span>正品保障</span></p>
    </div>

    <div class="ly-about-r">
        <div class="ly-about-r-top">
            <p>正品保障</p>
        </div>
        <div class="ly-about-one">
            <img src="img/ly-1.png" alt="">
            <img src="img/ly-2.png" alt="">
            <img src="img/ly-1.png" alt="">
            <img src="img/ly-2.png" alt="">
            <img src="img/ly-2.png" alt="">
            <img src="img/ly-3.png" alt="">
        </div>
    </div>

</div>